{% extends "layouts/main.html" %}

{% block header %}
<div class="email-heading"><p class="govuk-heading-m">Email template</p></div>
{% endblock %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<style>
body.govuk-template__body {
  background-color: lightgrey;
}

.email-heading {
  height: 70px;
  background-color: black;
  width: 1040px;
  margin: auto;
}

.email-heading p {
  color: white;
  padding: 20px 40px 20px 40px;
  
}

.govuk-width-container {
  //max-width: 800px;
  background-color: white;
  padding: 0 40px 40px 40px;
}
  
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      

      <h1 class="govuk-heading-l">Complaint received</h1>

      <p>We have received your complaint about Whitehall 2, LS1.</p>

      <h2 class="govuk-heading-m">Reference number</h2> 

      <p><strong>HDJ2123F</strong></p>

      <h2 class="govuk-heading-m">What you told us</h2>   
      
      {% if data['request-about-what'] == "building" %}
      <h3 class="govuk-heading-s">What is the problem?</h3>
      <p>{{ data['complaint-problem-details'] or "There is a problem with the fire doors and they've not been fixed. I've complained to the building manager a few months ago and nothing has happened" }}</p>
          
      <h3 class="govuk-heading-s">When did you first notice the issue?</h3>
      <p>{{ data['complaint-problem-appear-day'] + "-" + data['complaint-problem-appear-month'] + "-" + data['complaint-problem-appear-year'] }}</p>
          
      <h3 class="govuk-heading-s">Who have you already contacted about the problem?</h3>
      <p>{{ data['complaint-problem-who'] or "Yes" }}</p>
      {% endif %}

      {% if data['request-about-what'] == "person" %}
      <h3 class="govuk-heading-s">Person or organisation the complaint is about</h3>
      <p>{{ data['complaint-about-who'] or "My landlord" }}</p>
      {% endif %}

      {% if data['request-about-what'] != "building" %}
      <h3 class="govuk-heading-s">Details of the complaint</h3>
      <p>{{data['complaint-details'] or "My landlord has not fixed the fire doors" }}</p>
      {% endif %}

      <h3 class="govuk-heading-s">Your supporting information</h3>
      <ul class="govuk-list">
        <li>image-1234.png</li>
        <li>email-screenshot.jpg</li>
        <li>further-details.doc</li>
      </ul>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>BSR will review your complaint. Once we have reviewed it, we will contact you to tell you what we will do next. This may take up 21 working days.</p>

      <p>If you do not hear from BSR after 21 working days, contact us and quote your reference number.</p>

      <p>Email <a href="mailto:bsr@bsr.co.uk">bsr@bsr.co.uk</a> or phone BSR on 0300 790 6787</p>

      <p>BSR is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>

      <p>Thank you for bringing this matter to our attention.</p>

      <p>BSR customer service team</p>
    </div>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}