{% extends "layouts/main.html" %}
{% set title = "Submit additional information" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<style>
  .govuk-summary-list__key {
    font-weight: 400
  }
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Additional information</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>

      <p>You've received a request for additional information to support your complaint.</p>
      <p>Provide this below.</p>

      <form action="" method="post">

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Upload files",
            classes: "govuk-label--m"
          }
        }) }}

        {{ govukTextarea({
          name: "more-detail",
          id: "more-detail",
          label: {
            text: "Can you provide more details about the firedoors?",
            classes: "govuk-label--m",
            isPageHeading: true
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
