{% extends "layouts/main.html" %}
{% set title = "Your contact details" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        <span class="govuk-caption-l">About you</span>
        {% call govukFieldset({
          legend: {
            text: title,
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
          
        }) %}
        {% if data['enquiry-about'] == "make a complaint" %}
          <p>Without your contact details we cannot respond to you.</p>
        {% else %}
          <p>Without your contact details we cannot respond to you.</p>
        {% endif %}
      
        <p>If you are acting on behalf of someone else, enter your details so we can respond to you.</p>


          {{ govukInput({
            label: {
              text: 'Contact email' if data['enquiry-about'] == "make a complaint" else 'Contact email'
            },
            id: "contact-email",
            name: "contact-email",
            classes: "govuk-input--width-20"
          }) }}

          <p>and or</p>

          {{ govukInput({
            label: {
              text: 'Contact number' if data['enquiry-about'] == "make a complaint" else 'Contact number'
            },
            id: "contact-number",
            name: "contact-number",
            classes: "govuk-input--width-20"
          }) }}
          
        {% endcall %}

        {% if data['request-about-what'] == "building" %}
          {{ govukRadios({
          name: "share-contact-with-ap",
          fieldset: {
            legend: {
              text: "Can we share your contact details with the person or organisation accountable for safety in the building?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, the landlord or management company"
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        {% endif %}
        
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
