{% extends "layouts/main.html" %}
{% set title = "What is your complaint?" %}

{% block pageTitle %}
  {{title}} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post">
        <span class="govuk-caption-l">About the complaint</span>
        <h1 class="govuk-heading-l">{{ title }}</h1>


        {{ govukCharacterCount({
          name: "complaint-problem-details",
          id: "complaint-problem-details",
          maxlength: 1500,
          label: {
            text: "What is the problem?",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {{ govukDateInput({
          id: "complaint-problem-appear",
          namePrefix: "complaint-problem-appear",
          fieldset: {
            legend: {
              text: "When did the problem appear?",
              isPageHeading: false,
              classes: "govuk-label--s"
            }
          },
          hint: {
            text: "For example, 23 09 2023"
          }
        }) }}

        {{ govukCharacterCount({
          name: "complaint-problem-who",
          id: "complaint-problem-who",
          maxlength: 500,
          rows: 3,
          label: {
            text: "Who have you already contacted about the problem?",
            classes: "govuk-label--s",
            isPageHeading: false
          }
        }) }}

        {{ govukDateInput({
          id: "complaint-problem-when",
          namePrefix: "complaint-problem-when",
          fieldset: {
            legend: {
              text: "When did you first contact them?",
              isPageHeading: false,
              classes: "govuk-label--s"
            }
          },
          hint: {
            text: "For example, 23 09 2023"
          }
        }) }}


       
        <p>Next we will ask if you have any supporting information to upload, such as documents or photos.</p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
