{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block header %}
  {% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

  {% set html %}
    <p class="govuk-body">We’d like to use analytics cookies so we can understand how you use this site.</p>
    <p class="govuk-body">We also use essential cookies to remember if you’ve accepted analytics cookies.</p>
  {% endset %}

  {% set acceptHtml %}
    <p class="govuk-body">You’ve accepted analytics cookies. You can <a class="govuk-link" href="cookies">change your cookie settings</a> at any time.</p>
  {% endset %}

  {% set rejectHtml %}
    <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="cookies">change your cookie settings</a> at any time.</p>
  {% endset %}



    {{ govukCookieBanner({
      classes: "js-cookies-banner",
      messages: [
        {
            headingText: "Cookies on this government service",
            html: html,
            actions: [
                {
                    text: "Accept analytics cookies",
                    type: "button",
                    classes: "js-cookies-button-accept"
                },
                {
                    text: "Reject analytics cookies",
                    type: "button",
                    classes: "js-cookies-button-reject"
                },
                {
                    text: "View cookie preferences",
                    href: "cookies"
                }
            ],
            classes: "js-question-banner"
        },
        {
            html: acceptHtml,
            role: "alert",
            actions: [
                {
                    text: "Hide cookie message",
                    type: "button",
                    classes: "js-hide"
                }
            ],
            classes: "js-cookies-accepted",
            hidden: true
        },
        {
            html: rejectHtml,
            role: "alert",
            actions: [
                {
                    text: "Hide cookie message",
                    type: "button",
                    classes: "js-hide"
                }
            ],
            classes: "js-cookies-rejected",
            hidden: true
        }
    ]
    }) }}



  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post">
        <h1 class="govuk-heading-xl">
          {% if serviceName %} {{ serviceName }} {% endif %}
        </h1>

        <p>Anyone can use this service to</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>ask a question to the Building Safety Regulator (BSR)</li>
          <li>make a complaint to BSR</li>
        </ul>
 
        <p>You can contact BSR about</p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="">buildings BSR regulates</a></li>
          <li><a href="">people and organisations BSR regulates</a>, for example, building inspectors</li>
          <li><a href="">the regulations BSR is responsible for</a>, for example the operational standards rules for building control bodies.</li>
        </ul>

        <p>If you’re a resident or member of the public and you want to complain about an occupied building, first make your complaint to an accountable person for the building. For example, the building’s landlord or management company. Use this service if you cannot approach the accountable person or they have not dealt with your issue.</p>

        <p>If you don't want to give us your name and contact details, you can ask a question or make a complaint via <a href="">third party</a></p>
        
        <h2 class="govuk-heading-m">When not to use this service</h2>

        <p>Do not use this service to report concerns about anti-social behaviour or the general maintenance of a building, for example, external decor, or cleanliness. Report these issues to your landlord or management company.</p>

        <p>If you are unhappy with the behaviour of building contractors during the construction of a building, raise this complaint with the principal contractor.</p>

        <h2 class="govuk-heading-m">If you can’t use this service</h2>

        <p>If you cannot use the online service, call BSR on <a href="tel:03007906787">0300 790 6787</a>. BSR is open Monday to Friday from 8.30am to 5pm, except Wednesdays when we are open from 10am to 5pm.</p>

        <p>A translation service is available if you would prefer to speak in a language other than English.</p>

        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}

  <script>
    var acceptButton = document.querySelector('.js-cookies-button-accept')
    var rejectButton = document.querySelector('.js-cookies-button-reject')

    var acceptedBanner = document.querySelector('.js-cookies-accepted')
    var rejectedBanner = document.querySelector('.js-cookies-rejected')
    var questionBanner = document.querySelector('.js-question-banner')
    var cookieBanner = document.querySelector('.js-cookies-banner')

    function showBanner(banner) {
        questionBanner.setAttribute('hidden', 'hidden')
        banner.removeAttribute('hidden')

        // Shift focus to the banner
        banner.setAttribute('tabindex', '-1')
        banner.focus()

        banner.addEventListener('blur', function () {
            banner.removeAttribute('tabindex')
        })
    }

    acceptButton.addEventListener('click', function (event) {
        showBanner(acceptedBanner)
        event.preventDefault()
    })

    rejectButton.addEventListener('click', function (event) {
        showBanner(rejectedBanner)
        event.preventDefault()
    })

    acceptedBanner.querySelector('.js-hide').addEventListener('click', function() {
      cookieBanner.setAttribute('hidden', 'hidden')
    })

    rejectedBanner.querySelector('.js-hide').addEventListener('click', function() {
      cookieBanner.setAttribute('hidden', 'hidden')
    })
  </script>

{% endblock %}
