{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {% set emails %}
      <p><a href="sprint-8/emails/complaint-email">Complaint - Confirmation email - contact provided</a></p>
      <!--<p><a href="sprint-8/emails/complaint-email-no-contact">Complaint - Confirmation email - no contact details</a></p>-->
      <p><a href="sprint-8/emails/complaint-investigation-email">Complaint - Investigation email</a></p>
      <p><a href="sprint-8/emails/complaint-enforcement-email">Complaint - Enforcement email</a></p>
      <p><a href="sprint-8/emails/question-email">Question - Confirmation email</a></p>
      <!--<p><a href="sprint-8/emails/more-info-email">Additional info required - email</a></p>-->

    {% endset %}

    <h2 class="govuk-heading-m">Current</h2>
    <p><a href="sprint-8/start-advice">Sprint 8 (v5) - Advice and complaints</a></p>
    {{ govukDetails({
      summaryText: "Emails",
      html: emails
    }) }}
    
<!--
    <h2 class="govuk-heading-m">Private Beta</h2>
    <p>to do</p>
-->
    <h2 class="govuk-heading-m">Alpha</h2>
    <p><a href="sprint-7/start-advice">Sprint 7 (v4.5) - Advice and complaints</a></p>
    <p><a href="sprint-7/confirmation-email">Sprint 7 (v4.5) - Confirmation email</a></p>
    <p><a href="sprint-6/start-advice">Sprint 6 (v4) - Advice and complaints</a></p>
    <p><a href="sprint-5/start">Sprint 5 (v3)</a></p>
    <p><a href="sprint-4/start">Sprint 4 (v2)</a></p>
    <p><a href="sprint-3/start">Sprint 3 (v1)</a></p>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
