{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    
    {% set emailsV8 %}
      <p><a href="private-sprint-3/emails/complaint-email">Complaint - Confirmation - contact provided</a></p>
      <p><a href="private-sprint-3/emails/complaint-email-no-contact">Complaint - Confirmation - no contact details</a></p>
      <p><a href="private-sprint-3/emails/complaint-investigation-email">Complaint - Investigation</a></p>
      <p><a href="private-sprint-3/emails/complaint-no-investigation-no-evidence-email">Complaint - No Investivation</a></p>
      <p><a href="private-sprint-3/emails/complaint-enforcement-action-email">Complaint - Enforcement action</a></p>
      <p><a href="private-sprint-3/emails/complaint-no-enforcement-action-email">Complaint - No enforcement action</a></p>
      <p><a href="private-sprint-3/emails/question-email">Question - Confirmation</a></p>
      <p><a href="private-sprint-3/emails/more-info-email">Addition supporting information</a></p>
      <p><a href="private-sprint-3/emails/complaint-case-closed-email">Complaint - Case closed</a></p>
    {% endset %}
    
    {% set emailsV7 %}
      <p><a href="private-sprint-2/emails/complaint-email">Complaint - Confirmation - contact provided</a></p>
      <p><a href="private-sprint-2/emails/complaint-email-no-contact">Complaint - Confirmation - no contact details</a></p>
      <p><a href="private-sprint-2/emails/complaint-investigation-email">Complaint - Investigation</a></p>
      <p><a href="private-sprint-2/emails/complaint-no-investigation-no-evidence-email">Complaint - No Investivation</a></p>
      <p><a href="private-sprint-2/emails/complaint-enforcement-action-email">Complaint - Enforcement action</a></p>
      <p><a href="private-sprint-2/emails/complaint-no-enforcement-action-email">Complaint - No enforcement action</a></p>
      <p><a href="private-sprint-2/emails/question-email">Question - Confirmation</a></p>
      <p><a href="private-sprint-2/emails/more-info-email">Addition supporting information</a></p>
      <p><a href="private-sprint-2/emails/complaint-case-closed-email">Complaint - Case closed</a></p>
    {% endset %}
    
    {% set emailsV6 %}
      <p><a href="sprint-9/emails/complaint-email">Complaint - Confirmation - contact provided</a></p>
      <p><a href="sprint-9/emails/complaint-email-no-contact">Complaint - Confirmation - no contact details</a></p>
      <p><a href="sprint-9/emails/complaint-investigation-email">Complaint - Investigation</a></p>
      <p><a href="sprint-9/emails/complaint-no-investigation-no-evidence-email">Complaint - No Investivation</a></p>
      <p><a href="sprint-9/emails/complaint-enforcement-action-email">Complaint - Enforcement action</a></p>
      <p><a href="sprint-9/emails/complaint-no-enforcement-action-email">Complaint - No enforcement action</a></p>
      <p><a href="sprint-9/emails/question-email">Question - Confirmation</a></p>
      <p><a href="sprint-9/emails/more-info-email">Addition supporting information</a></p>
      <p><a href="sprint-9/emails/complaint-case-closed-email">Complaint - Case closed</a></p>
    {% endset %}

    {% set emailsV5 %}
      <p><a href="sprint-8/emails/complaint-email">Complaint - Confirmation email - contact provided</a></p>
      <p><a href="sprint-8/emails/complaint-investigation-email">Complaint - Investigation email</a></p>
      <p><a href="sprint-8/emails/complaint-enforcement-email">Complaint - Enforcement email</a></p>
      <p><a href="sprint-8/emails/question-email">Question - Confirmation email</a></p>
    {% endset %}

    <h2 class="govuk-heading-m">Private Beta Current</h2>
    <p><a href="private-sprint-3/start">Sprint 3 (v8) - Advice and complaints</a></p>
    {{ govukDetails({
      summaryText: "Emails",
      html: emailsV8
    }) }}
    
    

    <h2 class="govuk-heading-m">Private Beta</h2>
    <p><a href="private-sprint-2/start">Sprint 2 (v7) - Advice and complaints</a></p>
    {{ govukDetails({
      summaryText: "Emails",
      html: emailsV7
    }) }}


    <h2 class="govuk-heading-m">Alpha</h2>
    <p><a href="sprint-9/start-advice">Sprint 9 (v6) - Advice and complaints</a></p>
    {{ govukDetails({
      summaryText: "Emails",
      html: emailsV6
    }) }}
    <p><a href="sprint-8/start-advice">Sprint 8 (v5) - Advice and complaints</a></p>
    {{ govukDetails({
      summaryText: "Emails",
      html: emails
    }) }}
    <p><a href="sprint-7/start-advice">Sprint 7 (v4.5) - Advice and complaints</a></p>
    <p><a href="sprint-7/confirmation-email">Sprint 7 (v4.5) - Confirmation email</a></p>
    <p><a href="sprint-6/start-advice">Sprint 6 (v4) - Advice and complaints</a></p>
    <p><a href="sprint-5/start">Sprint 5 (v3)</a></p>
    <p><a href="sprint-4/start">Sprint 4 (v2)</a></p>
    <p><a href="sprint-3/start">Sprint 3 (v1)</a></p>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
